*/.git
*/.github
*/.pytest_cache
*/*/pytest_cache
*/*/__pycache__
*/analysis.ipynb
.git
.github
.pytest_cache
.Procfile
tests
env
tests
Dockerfile
docker-compose.yml
Procfile
analysis.ipynb
.gitignore
*/env
.env